.gradient-0 {
  background-image: linear-gradient(
    115deg,
    rgba(34, 193, 195, 1),
    rgba(253, 187, 45, 1)
  );
}

.gradient-1 {
  background-image: linear-gradient(
    115deg,
    rgba(131, 58, 180, 1),
    rgba(253, 29, 29, 1),
    rgba(252, 176, 69, 1)
  );
}

.gradient-2 {
  background-image: linear-gradient(115deg, #8360c3, #2ebf91);
}

.gradient-3 {
  background-image: linear-gradient(115deg, #fc5c7d, #6a82fb);
}

.gradient-4 {
  background-image: linear-gradient(115deg, #c6ffdd, #fbd786, #f7797d);
}

.gradient-5 {
  background-image: linear-gradient(115deg, #ff6e7f, #bfe9ff);
}

.gradient-6 {
  background-image: linear-gradient(115deg, #141e30, #243b55);
}

.gradient-7 {
  background-image: linear-gradient(115deg, #ff9966, #ff5e62);
}

.gradient-8 {
  background-image: linear-gradient(115deg, #1fa2ff, #12d8fa, #a6ffcb);
}

.gradient-9 {
  background-image: linear-gradient(115deg, #f12711, #f5af19);
}

.gradient-10 {
  background-image: linear-gradient(115deg, #da4453, #89216b);
}

.gradient-11 {
  background-image: linear-gradient(115deg, #fc5c7d, #6a82fb);
}

.gradient-12 {
  background-image: linear-gradient(115deg, #c94b4b, #4b134f);
}

.gradient-13 {
  background-image: linear-gradient(115deg, #e1eec3, #f05053);
}

.gradient-14 {
  background-image: linear-gradient(115deg, #03001e, #7303c0, #ec38bc, #fdeff9);
}

.gradient-15 {
  background-image: linear-gradient(115deg, #c33764, #1d2671);
}

.gradient-16 {
  background-image: linear-gradient(115deg, #3a1c71, #d76d77, #ffaf7b);
}

.gradient-17 {
  background-image: linear-gradient(115deg, #159957, #155799);
}

.gradient-18 {
  background-image: linear-gradient(115deg, #ee0979, #ff6a00);
}

.gradient-19 {
  background-image: linear-gradient(115deg, #f1f2b5, #135058);
}

.gradient-20 {
  background-image: linear-gradient(115deg, #556270, #ff6b6b);
}

.gradient-21 {
  background-image: linear-gradient(115deg, #f0c27b, #4b1248);
}

.gradient-22 {
  background-image: linear-gradient(115deg, #f2709c, #ff9472);
}

.gradient-23 {
  background-image: linear-gradient(115deg, #5d4157, #a8caba);
}

.gradient-24 {
  background-image: linear-gradient(115deg, #d53369, #cbad6d);
}

.gradient-25 {
  background-image: linear-gradient(115deg, #c04848, #480048);
}

.gradient-26 {
  background-image: linear-gradient(115deg, #c04848, #480048);
}

.gradient-27 {
  background-image: linear-gradient(115deg, #12c2e9, #c471ed, #f64f59);
}

.gradient-28 {
  background-image: linear-gradient(115deg, #5f2c82, #49a09d);
}

.gradient-29 {
  background-image: linear-gradient(115deg, #283048, #859398);
}

.gradient-30 {
  background-image: linear-gradient(115deg, #dd5e89, #f7bb97);
}

.gradient-31 {
  background-image: linear-gradient(115deg, #1d2b64, #f8cdda);
}

.gradient-32 {
  background-image: linear-gradient(115deg, #003973, #e5e5be);
}

.gradient-33 {
  background-image: linear-gradient(115deg, #ff6e7f, #bfe9ff);
}
